<!DOCTYPE html lang="en">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>Dot Dot Dash</title>


<!-- Make sure to replace all the keywords ands such!!! -->
		<!--Description, Keywords-->
		<meta name="description" content="OCAD University’s Faculty of Design is announcing a call for proposals for Urban Ecologies 2013, a conference that will examine the impact of five intersecting themes that are shaping the future of design in our cities.">

		<meta name="keywords" content="Urban Ecologies, 2013, OCAD University, design, Ontario College of Art and Design, conference, TDBank, Toronto Dominion, research, architecture, healthcare, visualization, urban planning, community">

		<!--For Mobile Devices-->
        <meta name="viewport" content="width=1024, user-scalable=no">

		<!--Stylesheets-->
        <link rel="stylesheet" href="/static/css/normalize.min.css">
        <link rel="stylesheet" href="/static/css/main.css">

<!-- We need to get the logo in here! -->
		<link rel="icon" type="image/png" href="/img/logo.png">
    </head>
<body>

<!--[if lt IE 7]>
	<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

<!-- MAIN NAVIGATION -->
<img src="">

<nav id="sticky_navigation"><!--  once it gets down to this area it gains the class nav_fixed -->
	<ul>
		<li>About</li>
		<li>Services</li>
		<li>Clients</li>
		<li>Our Work</li>
		<li>Contact</li>
	</ul>
</nav>

<section id="image1" class="imageSection">
	<div class="centerTextArea">
		<p>Creative Content+</p>
		<p>Engagement Strategies</p>
		<p>That make your brand relevant</p>
	</div>
</section>

<section id="about">
<div class="tagLeft"> about</div>
<div class="tagLeft"> process</div>

</section>

<section id="image2" class="imageSection">

</section>

<section id="services">
<div class="tagLeft"> services</div>
</section>

<section id="image3" class="imageSection">

</section>

<section id="clients">
<div class="tagLeft"> clients</div>
</section>

<section id="work">
<div class="tagLeft"> work</div>
</section>

<section id="contact">
<div class="tagLeft"> contact</div>
</section>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/waypoints.min.js"></script>
<script src="/static/js/jquery.backstretch.min.js"></script>

<script type="text/javascript">
$("#sticky_navigation").waypoint(function(){
	$("#sticky_navigation").toggleClass("nav_fixed");
});

</script>

</body>
</html>