{% extends "base.html" %}

{% block content %}
	
<!-- MAIN BODY -->
		<div id="skrollr-body" itemscope itemtype="http://data-vocabulary.org/Event">

			<!-- HOME SECTION -->
				<section id="top" title="Home Section">
		
					<h1 itemprop="summary">Urban Ecologies 2013</h1>
					
					<div id="video">
			
						<img id="playButton" src="/static/img/logos/ue_logo_large_off.png" />
			
						<iframe id="player" src="http://player.vimeo.com/video/61652559?api=1&amp;player_id=player" class="videolive" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

					</div>
		
					<div id="date-location">
						<h2 id="top-date"><time itemprop="startDate" datetime="2013-06-20">June 20</time>&ndash;<time itemprop="endDate" datetime="2013-06-21">21</time>, 2013</h2>
						<h2 id="top-place"><span itemprop="locality">Toronto</span>, <span itemprop="region">Canada</span></h2>
					</div>
		
					<div id="sponsors">
						<div id="ocadu">
							<h3>Presented by</h3>
							<a href="http://www.ocadu.ca" target="OCAD University"><img src="/static/img/logos/ocad_logo.png" alt="OCAD University Website"/></a>
						</div>
				
						<div id="tdbank">
							<h3>Sponsored by</h3>
							<a href="http://www.tdbank.ca" target="TD Bank"><img src="/static/img/logos/td_logo.png" alt="TD Bank Website"/></a>
						</div>
					</div>				
	
				</section>
			
			
			<!-- ABOUT SECTION -->

					<section id="about" title="About Section">
				
						<h1>About</h1>
						
						<blockquote itemprop="description"><p>OCAD University’s Faculty of Design presents Urban Ecologies 2013, a <span itemprop="eventType">conference</span> that will examine the impact of five intersecting themes that are shaping the future of design in our cities.</p>
						
						<p>Urban environments are the location or destination of an increasing proportion of humanity. The urgent need for cities to achieve a sustainable balance between human impact and environmental resilience is motivating the consideration of ecology as a source of new theoretical, methodological, and metaphorical directions. Ecological approaches to the design of urban environments appropriate the complex, multivariate, and interdependent—yet innately balanced—characteristics of natural systems. In considering cities as urban ecologies, designers must reconcile multiple interlocking imperatives, such as social needs and desires, cultural norms and aspirations, economic restrictions, the allocation of natural resources, and aesthetics.</p>

						<p>Urban ecologies operate dynamically across time and space, qualities that challenge the static two-dimensional logic of conventional design methods and instruments. Urban ecology ideas are also dynamic, informed by other theoretical frameworks including systems thinking, sustainability, biomimicry, inclusive design, active living, community engagement, and big data. A close examination of the relationships between ecology and urbanity has the potential to result in strategies and solutions that equip us to design sustainable, inclusive, healthy, engaged, and resilient cities.</p>
						
			
						<p>The conference aims to propel the creation of knowledge and foster collaborative connections between urban ecology thinkers and practitioners. It will attract local, national, and international participants, drawn from academic, professional, public service, business, and grassroots communities.</p></blockquote>
		
					</section>

			<!-- OCAD UNIVERSITY SECTION -->
			
						<section id="ocaduniversity" itemprop="location" itemscope itemtype="http://data-vocabulary.org/Organization" title="OCAD University Section">
				
							<h1 itemprop="name">OCAD University</h1>
				
							<blockquote>OCAD University has more depth and breadth in art and design education and research than any other institution in Canada. OCAD U is located in the heart of Toronto, Canada’s largest centre for design, culture, and business.</blockquote>
				
							<blockquote>Urban Ecologies emerges as an extension of the Faculty of Design’s mission: to create objects, communications, environments, and experiences that nurture community, humanize technology, satisfy human needs, and empower the individual; and to achieve the maximum quality of experience for people for each ecological unit consumed in its creation, production, and use.</br><span><a href="http://www.ocadu.ca" target="OCAD University" title="OCAD University, opens in new tab or page">www.ocadu.ca</a></span></blockquote>
				
							<span itemprop="geo" itemscope itemtype="http://data-vocabulary.org/Geo">
								<meta itemprop="latitude" content="43.653349" />
								<meta itemprop="longitude" content="-79.391328" />
							</span>
				
						</section>

			<!-- THEMES SECTION -->
			
						<section id="themes" title="Five Themes Section">

							<h1>Themes</h1>
				
							<blockquote>Urban Ecologies 2013 is organized around five intersecting themes, representing a spectrum of practice-based research activities that contribute to the urban ecologies perspective. OCAD University is a global leader in design education and research, and each theme is rooted in design as a critical practice.</blockquote>
				
							<div id="description">
					
								<ul>
						
									<li id="thinking">
							
										<img src="/static/img/themes/thinking.png" />
										
										<div>
			
										<h2>Thinking Systems</h2>
							
										<p>Applying knowledge of the urban environment’s complex and dynamic patterns of exchange to design stronger communities.</p>
							
										<p class="differ">Cities are systems, comprised of interconnected and interdependent dynamic components. Understanding this interplay is essential if we are to operate across physical, jurisdictional and disciplinary boundaries. Thinking Systems seeks methods that productively examine the city through a systems thinking lens.</p>

										<h3>Theme leaders:</h3>
										
										<p class="differ">
											
											<span><a href="http://slab.ocad.ca/people/jeremy-bowes">Jeremy Bowes</a>, Professor, Strategic Foresight &amp; Innovation, OCAD University</span></br>
											<span>Ian Gray, Senior Landscape Architect, MMM Group</span></br>
											<span><a href="http://www.designdialog.ca/principal/craig-applegath/">Craig Applegath</a>, Principal, DIALOG</span>
											
										</p>
										
									</div>

									</li>
						
						
									<li id="visualizing">
							
										<img src="/static/img/themes/visualizing.png" />
					
										<h2>Visualizing Information</h2>
							
										<p>Using advanced visual strategies to improve our understanding of data-intensive human and non-human urban activity.</p>
							
										<p class="differ">Cities are host to multiple interlocking environments, infrastructures, connective networks and patterns of information. The relationships between these elements are challenging to observe and describe. Visualizing Information seeks data-driven design strategies that create the potential to exploit these complex relationships.</p>

										<h3>Theme leaders:</h3>
							
										<p class="differ">
											
											<span><a href="http://www.jessecolinjackson.com/">Jesse Jackson</a>, Head, Sustainability Office, OCAD University</span></br>
											<span><a href="http://www.patriciodavila.com/projects/?/information/about/">Patricio Davila</a>, Assistant Professor, Graphic Design, OCAD University </span></br>
											<span><a href="http://peterahall.com/">Peter Hall</a>, Design Convenor, Design and Digital Media, Griffith University</span>
											
										</p>
										

			                		</li>

						
									<li id="regenerating">
							
										<img src="/static/img/themes/regenerating.png" />
								
										<h2>Regenerating Cities</h2>
							
										<p>Developing regenerative urban design strategies to create restorative relationships between cities and their surrounding environments.</p>
							
										<p class="differ">In the face of decaying infrastructure and resource depletion, city builders have begun to take inspiration from the self-replicating, symbiotic, and evolutionary characteristics of nature. Regenerating Cities seeks regenerative design concepts that contribute to, rather than extract from, local ecological systems.</p>

										<h3>Theme leaders:</h3>
							
										<p class="differ">
											
											<span>Bruce Hinds, Chair, Environmental Design, OCAD University</span></br>
											<span>Jamie Miller, PhD Candidate, Environmental Engineering, University of Guelph</span></br>
											<span><a href="http://www.ryerson.ca/surp/faculty_staff/bios/lister_nina_marie.html ">Nina-Marie Lister</a>, Associate Professor, School of Urban and Regional Planning, Ryerson University </span>
											
										</p>
										
							
									</li>
						

			                		<li id="building">
							
										<img src="/static/img/themes/health.png" />
			
										<h2>Building Health</h2>
							
										<p>Bringing integrated concepts of human health, quality of life and inclusion to the design of the urban environment.</p>
							
										<p class="differ">The intricate relationships between urban form and physical and mental health frequently go unconsidered in conventional design processes. Most health care programs and services are located in cities, whose environments that often fail to encourage healthy living. Building Health seeks practices that address this ecological paradox.</p>

										<h3>Theme leaders:</h3>
							
										<p class="differ">
											
											<span><a href="http://apache.ocad.ca/faculty_biographies/bio.php?bid=1477&fac=design">Gayle Nicoll</a>, Dean, Faculty of Design, OCAD University</span></br>
											<span><a href="http://apache.ocad.ca/faculty_biographies/bio.php?bid=1399&fac=design">Julian Goss</a>, Assistant Professor, Industrial Design, OCAD University</span></br>
											<span>Karen Lee, Director, Built Environment, NYC Department of Health &amp; Mental Hygiene<span>
											
										</p>
										
							
			                		</li>
						
						
									<li id="creating">
							
										<img src="/static/img/themes/community.png" />

										<h2>Creating Community</h2>
							
										<p>Fostering design partnerships between grassroots and professional communities to co-create sustainable urban places.</p>
							
										<p class="differ">Directly engaging stakeholders in the design of cities dissolves institutional and disciplinary boundaries, and provides an alternative to conventional processes. Creating Community seeks design experiences that are rooted in community participation rather than in established professional relationships.</p>

										<h3>Theme leaders:</h3>
							
										<p class="differ">
											
											<span><a href="http://apache.ocad.ca/faculty_biographies/bio.php?bid=1427&fac=design">Roderick Grant</a>, Chair, Graphic Design, OCAD University</span></br>
											<span><a href="http://www.architextinc.com/25619/our-people">Zahra Ebrahim</a>, Founding Principal, archiTEXT</span></br>
											<span><a href="http://cityecology.net/about/staff-interns/">Gillian Mason</a>, Director, Centre for City Ecology<span>
											
										</p>
										
							
									</li>
					
								</ul>

							</div>
            
            
						</section>
			
			
			
			
			<!-- SCHEDULE SECTION -->
				
						<section id="schedule" title="Schedule Section">
            		
							<h1>Schedule</h1>

							<div id='schedule-container'>

							</div>
						
						</section>
		



			<!-- REGISTRATION SECTION -->
     
		        <section id="registration" title="Registration Section">
					  
					  <h1>Registration</h1>
					  
 						<blockquote>Early registration discounts will apply for all participants who register by May 15, 2013.</blockquote>
			
 						<ul>
			
 							<li>
				
 								<h2>Conference Attendees</h2>
				
 								<h3>Early Registration</h3>
 								<p>$495.00</p>
				
 								<h3>Late Registration</h3>
 								<p>$595.00</p>

 							</li>
			
 							<li>
				
 								<h2>Presenters and Facilitators</h2>
				
 								<h3>Early Registration</h3>
 								<p>$295.00</p>
				
 								<h3>Late Registration</h3>
 								<p>$395.00</p>
				
 							</li>
			
 							<li>
				
 								<h2>Students</h2>
				
 								<h3>Early Registration</h3>
 								<p>$145.00</p>
				
 								<h3>Late Registration</h3>
 								<p>$195.00</p>

 							</li>
			
 						</ul>
						
						<a href="https://continuingstudies.ocad.ca/class_details.jsp?offeringId=204&show_past=false" target="Urban Ecologies Registration">Register Now</a>
		
				</section>	
		
		
						<!--
		
							SPONSORS SECTION 
			
							-->
				
			        <section id="sponsors-main" title="Sponsors Section">
           
						<h1>Sponsors</h1>
						
						<div id="platinum">
							
							<a href="http://www.tdbank.ca" target="TD Bank"><img src="/static/img/logos/td-lrg.png" alt="TD Bank Website" width="150px"/></a>
							
						</div>
						
						<div id="bronze">
						
							<div id="ocadu">
								
								<a href="http://spacing.ca/" target="Spacing Website"><img src="/static/img/logos/spacing.png" alt="Spacing Website"/></a>
							</div>
					
							<div id="tdbank">
								
								<a href="http://www.ago.net/" target="AGO Website"><img src="/static/img/logos/ago.png" alt="AGO Website"/></a>
							</div>
						</div>
			
			
					</section>
				
				
				
				
					<!--
	
						CONTACT SECTION 
		
						-->
						
					<section id="contact" title="Contact Section">
						
						
						
							<h1>Contact</h1>
						
							<div>
							
								<h2>General Information</h2>
								<p>
								<a href="mailto:info@urbanecologies.ca?Subject=Request%20for%20More%20Information">info@urbanecologies.ca</a>
							</p>
				
								<h2>Conference Co-Chairs</h2>
								<p>
								<a href="mailto:jjackson@faculty.ocadu.ca?Subject=Request%20for%20More%20Information">Jesse Colin Jackson</a></br>
								<a href="mailto:bhinds@faculty.ocadu.ca?Subject=Request%20for%20More%20Information">Bruce Hinds</a>
							</p>
						</div>
							
					</section>
					


{% endblock %}